extends layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1 Dashboard
    a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report

  // Metric Cards
  .row
    
    // Disks
    .col-xl-3.col-md-6.mb-4
      .card.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                | Disks
              .h5.mb-0.font-weight-bold.text-gray-800 24
            .col-auto
              i.fas.fa-calendar.fa-2x.text-gray-300
    
    // Folders
    .col-xl-3.col-md-6.mb-4
      .card.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
                | Folders
              .h5.mb-0.font-weight-bold.text-gray-800 215,000
            .col-auto
              i.fas.fa-dollar-sign.fa-2x.text-gray-300
    
    // Files
    .col-xl-3.col-md-6.mb-4
      .card.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                | Files
              .h5.mb-0.font-weight-bold.text-gray-800 1,045,334
            .col-auto
              i.fas.fa-comments.fa-2x.text-gray-300
    
    // Total Stored
    .col-xl-3.col-md-6.mb-4
      .card.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                | Total Data Stored
              .h5.mb-0.font-weight-bold.text-gray-800 1,045 TB
            .col-auto
              i.fas.fa-comments.fa-2x.text-gray-300

  // Content Row
  .row

    // Left Column - Disk Usage
    .col-xl-8.col-lg-7
      .card.shadow.mb-4
        
        // Card Header - Dropdown
        .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary Disk Usage
          .dropdown.no-arrow
            a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
              .dropdown-header Dropdown Header:
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
        
        // Card Body
        .card-body
          .p Chart displaying disk usage
    
    // Right Column - Disk Usage
    .col-xl-4.col-lg-5
      .card.shadow.mb-4
        
        // Card Header - Dropdown
        .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
          h6.m-0.font-weight-bold.text-primary Disk Size
          .dropdown.no-arrow
            a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
              .dropdown-header Dropdown Header:
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
        
        // Card Body
        .card-body
          .p Chart showing disk sizes
  
  // Content Row
  .row
    
    // Left Column
    .col-lg-6.mb-4
    
      // Files by type
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Filetypes
        .card-body
          h4.small.font-weight-bold
            | Other 
            span.float-right 20%
          .progress.mb-4
            .progress-bar.bg-danger(role='progressbar' style='width: 20%' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
          h4.small.font-weight-bold
            | Documents
            span.float-right 40%
          .progress.mb-4
            .progress-bar.bg-warning(role='progressbar' style='width: 40%' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
          h4.small.font-weight-bold
            | Images 
            span.float-right 60%
          .progress.mb-4
            .progress-bar(role='progressbar' style='width: 60%' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100')
          h4.small.font-weight-bold
            | Video
            span.float-right 80%
          .progress.mb-4
            .progress-bar.bg-info(role='progressbar' style='width: 80%' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100')
          h4.small.font-weight-bold
            | Audio 
            span.float-right Complete!
          .progress.mb-4
            .progress-bar.bg-success(role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')
          h4.small.font-weight-bold
            | Executables 
            span.float-right Complete!
          .progress
            .progress-bar.bg-success(role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')
    
    // Right Column
    .col-lg-6.mb-4
      
      // Disk Brands
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Disk Brands
        .card-body
          .text-center.
          p Here we are going to have some information about the disk brands
      
      // Information
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-primary Some More Information
        .card-body
          p Here we are going to have some more information
            
